:root {
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20;
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
}

body {
    background-image: url("https://img.freepik.com/fotos-premium/fundo-da-bandeira-do-arco-iris-de-vista-superior-simbolo-internacional-da-comunidade-lgbt-sinal-de-diversidade-e-igualdade-de-genero-em-direitos_305419-589.jpg");
    background-size: cover; /* Cobrir todo o espaço sem distorção */
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
